services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflow
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mlflow -d mlflow"]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000" # S3 endpoint
      - "9001:9001" # Console UI
    volumes:
      - minio_data:/data
    restart: unless-stopped

  minio-init:
    image: minio/mc:RELEASE.2025-02-15T10-36-16Z
    depends_on:
      - minio
    entrypoint: >
      sh -lc "
      echo 'Waiting for MinIO to be reachable...';
      until mc alias set local http://minio:9000 minioadmin minioadmin 2>/dev/null; do
        sleep 2;
      done;
      echo 'Creating bucket s3://mlflow (if missing)...';
      mc mb -p local/mlflow || true;
      echo 'MinIO init done.';
      "
    restart: "no"

  mlflow:
    build:
      context: ./mlflow
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      minio-init:
        condition: service_completed_successfully
    environment:
      MLFLOW_DISABLE_TELEMETRY: "true"

      # MLflow server uses MinIO via internal docker network
      MLFLOW_S3_ENDPOINT_URL: "http://minio:9000"
      AWS_ACCESS_KEY_ID: "minioadmin"
      AWS_SECRET_ACCESS_KEY: "minioadmin"
      AWS_DEFAULT_REGION: "us-east-1"
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow
      --default-artifact-root s3://mlflow/
    restart: unless-stopped

volumes:
  pgdata:
  minio_data:
